.list-none {

  list-style: none;
}
.site-header {
  background-color: #fff;
}

.sitenav-link {
  color: #000;
  font-weight:500px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing:0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-link {
  background-color: #ff7500;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  line-height: 0.5px;
  color: #fff;
  text-decoration: none;
}

.hero-section {
  background-color:#252420;
}

.hero-content{
  width: 390px;
  color: #fff;
}

.orange-line {
  background-color: #FF7500;
  width: 80px;
  height: 3px;
}

.hero-title {
  font-size:40px;
  font-weight:700;
  line-height:40px;
  letter-spacing: 0.5px;
}

.hero-text {
  font-size:16px;
  font-weight:400;
  line-height:24px;
  letter-spacing:0.5px;
}

.feature-title {
  font-size: 72px;
  font-weight: 790;
  line-height: 86.4px;
  letter-spacing: 0.5px;
}

.feature-item {
  width: 340px;
  color: #000;

}

.feature-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
}

.feature-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.sale {
  background-color: #252420;
  color: #fff;
}

.sale-content {
  color: #fff;
  width: 440px;

}

.sale-image {
  width: 440px;
  height: 440px;
}

.sale-title {
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.5px;


}
.sale-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
}

.site-footer {
  background-color: #f8f8f8;

}

.site-footer-divedir {
  background-color: #25242080;
  height: 2px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #252420;
  text-decoration: none ;
}